<form class="product" id="order">
    <img class="product__image" src="./Uploads/Carbonara.avif" alt="">
    <h2 class="product__name">Карбонара</h2>
    <p class="product__description">Бекон, сыры чеддер и пармезан, моцарелла, томаты, красный лук,
        чеснок, фирменный соус альфредо, итальянские травы</p>
    <div class="product__footer">
        <p class="product__price">300 р</p>
        <button class="make-order-button" type="submit" form="order"> Заказать</button>
    </div>
</form>

